.navigation {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.nav_links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav_links li {
    margin-right: 20px;
    padding: 10px 15px;
    background-color: #8a5454;
    border-radius: 5px;
    border: 1px solid #000000;
}

.nav_links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav_links li:hover {
    background-color: #db3d3d;
    border: 1px solid #000000;
    color: #000;
}

.nav_links a:hover {
    color: #000;
}